# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd


# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

# Logs
*.log

# PyInstaller / build
build/
dist/
*.egg-info/
*.spec

# Docker
*.pid
